

footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;padding:30px;
}

footer ul li a {
    color:white;
    text-decoration:none;
}

#painting {
    margin-top: 25px;
    margin-bottom: 200px;
}

#painting h2 {
 text-align:center;
 font-size:40px;
 margin-bottom:100px;
}
    
.painting-card .card-items {
        margin-left:40px;
        margin-right:40px;
        color:black;
        background-color: #edeaea;
        margin: 0px 10px 20px 80px;
        padding:10px;
        border-radius: 10px;
        text-align: center;
    }

    img{
        border-radius: 20px;
        width:inherit;
    }
        
.btn-primary{
        background-color:pink;
        border-color: pink;
        border-radius: 10;
    }
    
    .btn-primary:hover {
        background-color:orange;
        border-color: orange;
    }
    
    .painting-card .card-items .card-icon {
        width: 75%;
    
    }
    h2{
        align-items: center;
    }
    